@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");

$font-jost: "Jost", sans-serif;
$font-cormorant: "Cormorant", serif;

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  max-width: 1440px;
  margin: 0 auto 6rem;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 4.8rem;
  }
  &__link {
    color: $green;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
  &__tel {
    color: $green;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
  &__cart {
    display: block;
    background-image: url(../images/cart-black.svg);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: $orange;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    position: relative;
    border: 1px solid $orange;
    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    font-size: 0.8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
  }
}

.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12rem;
  height: 3.2rem;
}

.main {
  background-image: url(../images/main.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 187px;
  z-index: 0;
  &__item {
    margin-left: 12rem;
    max-width: 378px;
    margin-top: 6rem;
  }
  &__link {
    margin-top: 6rem;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__cover {
    flex-basis: 763px;
    height: 763px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__line {
    width: 658px;
    height: 658px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 92%;
  }
  &__text {
    padding-top: 4rem;
  }
  &__btn {
    border: none;
    padding: 0;
    position: absolute;
    color: $green;
    text-align: left;
    background-color: transparent;
    &:hover {
      .main__btn {
        &::before {
          background-color: $orange;
          box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
        }
      }
    }
    &::before {
      content: "";
      background-color: $green;
      width: 11px;
      height: 11px;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
      border-radius: 100%;
      position: absolute;
    }
    &_01 {
      top: 80px;
      left: 140px;
      &::before {
        top: 12px;
        left: -22px;
      }
    }
    &_02 {
      top: 666px;
      left: 526px;
      &::before {
        top: 12px;
        left: -22px;
      }
    }
    &_03 {
      top: 325px;
      left: 724px;
      &::before {
        top: 12px;
        left: -22px;
      }
    }
  }
  &__tomato {
    position: absolute;
    bottom: 0;
    right: 41rem;
    width: 11rem;
    z-index: -1;
  }
  &__paper {
    position: absolute;
    bottom: 80rem;
    left: 7rem;
    width: 11rem;
    z-index: -1;
  }
  &__cucumber {
    position: absolute;
    top: -5.5rem;
    left: 103rem;
    width: 11rem;
    z-index: -1;
  }
  &__avokado {
    position: absolute;
    top: 5rem;
    right: 20rem;
    width: 25rem;
    z-index: -1;
  }
  &__beans_1 {
    position: absolute;
    bottom: 24rem;
    left: 4rem;
    width: 7rem;
    z-index: -1;
  }
  &__beans_2 {
    position: absolute;
    bottom: 21rem;
    left: -3rem;
    width: 7rem;
    z-index: -1;
  }
  &__beans_3 {
    position: absolute;
    bottom: 16rem;
    left: 7rem;
    width: 7rem;
    z-index: -1;
  }
  &__food {
    display: flex;
    color: rgba($green, 0.8);
  }
}

.title {
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 8rem;
  color: $green;
  margin: 0;
  &__span {
    font-style: italic;
  }
  &_block {
    .title__span {
      display: block;
    }
  }
}

.description {
  margin: 0;
  line-height: 1.5;
  &_size-s {
    font-size: 1.8rem;
  }
  &_size-m {
    font-size: 2.4rem;
  }
}

.link {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  padding: 2.5rem 4.2rem;
  background-color: $orange;
  box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  text-decoration: none;
  border-radius: 3.8rem;
  display: inline-block;
}

.offer {
  &__slider{
    overflow: hidden;
    padding-top: 100px;
  }
  background-image: url(../images/offer.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 200px;
  &__text{
    margin-top: 6rem;
    min-width: 700px;
  }
}

.swiper{
  overflow: initial;
  &-slide{
    border: 1px solid $green;
  }
  &-pagination{
    display: none;
  }
  &-button-next, &-button-prev{
    top: -60px;
    &::after{
      color: $green;
    }
  }
  &-button-prev{
    left: initial;
    right: 100px;
  }
}
